<!-- <form (ngSubmit) = "onSubmit()">
    <div class = "col-md-6 offset-md-3">
        <label>Patient ID</label>
        <input required type = "text" class = "form-control" id = "patientId"
            [(ngModel)] = "selected" name = "patientId" placeholder="Enter the Patient ID">
            <button class = "btn btn-success" type = "submit">Submit</button>
    </div>
</form>     -->

<!-- <form (ngSubmit)="onSubmit()">
    <input [(ngModel)] = "requestedPatientId" name = "patientId">
    <button>Submit</button>
  </form>

  <div *ngFor="let p of patients">
      <p>{{p.patientName}}</p>
  </div>

  <div>
    <button (click)="toggleShow()">Show Doctor</button>
    <div *ngIf="showTable">
        <h2> Doctor List </h2>
        <table class = "table table-striped">
            <thead>
                <tr>
                    <th>Patient Name</th>
                    <th>Visited Doctor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{patient.patientName}} </td>
                    <td> {{patient.doctor.doctorName}} </td>
                </tr>
            </tbody>
        </table>
    </div> -->